@charset "UTF-8";


:root {
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

body{
    background-color: burlywood;
    font-family: var(--fonte-padrao);
}

header {
    background-color: sienna;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
}

nav {
    background-color: sienna;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s
}

nav > a:hover {
    background-color: peru;
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: sienna;
    font-family: var(--fonte-padrao);
}

main h2 {
    color: sienna;
    font-family: var(--fonte-padrao);
}

main p {
    line-height: 1.6em;
    margin-bottom: 15px;
}

main strong {
    color: sienna;
    font-weight: bold;
}

main a {
    color: sienna;
    text-decoration: none;
}

main img {
    width: 50%;
    display: block;
    margin: auto;
}

.Criador {
    text-align: center;
    font-size: 0.9em;
    color: sienna;
    margin-bottom: 20px;
}

.Criador:hover {
    text-decoration: underline;
    
}